@model Tarea
<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Agregar Tarea</h1>
    <form asp-action="AddTarea" controller="Tarea" method="post">

        <div class="form-group">
            <label for="Titulo">Titulo:</label>
            <input type="text" asp-for="Titulo" class="form-control" id="titulo" name="titulo">
        </div>

        <button type="submit" class="btn btn-primary">Agregar Tarea</button>
    </form>

</div>