@model List<Tarea>

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Lista de Tareas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => tarea.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => tarea.Titulo)
                    </td>
                    <td>
                        <form controller="Tarea" method="post">
                            <input type="hidden" name="id" asp-for="@tarea.Id" />
                            <a asp-action="UpdateTarea" class="btn btn-sm btn-primary" asp-route-ide="@tarea.Id">Modificar</a>
                            <input type="submit" value="Eliminar" asp-action="DeleteTarea" class="btn btn-sm btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>