@model Tarea

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Modificar Tarea</h1>
    <form asp-action="UpdateTarea" controller="Tarea" method="post">
        <div class="form-group">
            <label for="nombre">Id:</label>
            <input type="text" value="@Model.Id" asp-for="Id" class="form-control" id="id" name="id" readonly>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" value="@Model.Titulo" asp-for="Titulo" class="form-control" id="titulo" name="titulo">
        </div>
        <button type="submit" class="btn btn-primary">Modificar tarea</button>
    </form>

</div>