@model Resource

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Modificar recurso</h1>
    <form asp-action="UpdateResource" controller="Resource" method="post">
        <div class="form-group">
            <label for="Name">Nombre:</label>
            <input type="text" value="@Model.Name" asp-for="Name" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="Stock">Cantidad disponible:</label>
            <input type="number" value="@Model.Stock" asp-for="Stock" class="form-control" id="stock" name="stock">
        </div>
        <a href="@Url.Action("ListResource", "Resource")" class="btn btn-secondary text-white mt-2">Cancelar</a>

        <button type="submit" class="btn btn-primary mt-2">Modificar recurso</button>
    </form>

</div>